@import '/css/normalize.css';
@import '/css/webflow.css';
@import '/css/mukyala-2.webflow.css';

.nav-menu-right-side {
  justify-self: end;
}

@media (max-width: 991px) {
  [data-collapse] .w-nav-button {
    display: block;
  }
  .nav-menu-wrapper {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-menu-wrapper {
    display: flex;
  }
}
