@import '/css/normalize.css';
@import '/css/webflow.css';
@import '/css/mukyala-2.webflow.css';

@media (max-width: 991px) {
  [data-collapse] .w-nav-button {
    display: block;
  }
  .nav-menu-wrapper {
    display: none; /* nav links inside slide-in panel handle tablet/mobile */
  }
}

@media (min-width: 992px) {
  .nav-menu-wrapper {
    display: flex;
  }
}
